body {
    color: #5a5a5a;
}

/* 新版頁面 start*/
.swiper-pagination-bullet{
	color: #8791a2;
}
.swiper-pagination-bullet-active{
	background-color: #ffffff;
}
.swiper_buttons1{
	padding-left: 200px;
}
.swiper_buttons2{
	padding-right: 200px;
}
#banner{
	width:100%;
	height: 600px;
}
#banner .title{
	width:100%;
	min-width: 1140px;
	/* height:60px; */
	font-size:55px;
	color:rgba(255,255,255,1);
	line-height:55px;
	position: absolute;
	top: 250px;
	text-align: center;
}
#banner .dis{
	margin-top: 30px;
	width:100%;
	height:40px;
	font-size:30px;
	color:rgba(255,255,255,1);
	line-height:55px;
	position: absolute;
	top: 330px;
	text-align: center;
	min-width: 1140px;
}   
#particles-js{
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(rgb(26,38,85),rgb(11,18,41)); /* Safari 5.1 - 6.0 */
	background: -o-radial-gradient(rgb(26,38,85),rgb(11,18,41)); /* Opera 11.6 - 12.0 */
	background: -moz-radial-gradient(rgb(26,38,85),rgb(11,18,41)); /* Firefox 3.6 - 15 */
	background: radial-gradient(rgb(26,38,85),rgb(11,18,41)); /* 标准的语法（必须放在最后） */
}
.announcements{
	width:100%;
	height:60px;
	background:rgba(6,11,28,0.2792);
	position: absolute;
	top: 540px;
	z-index: 10;
}
.announcements ul{
	padding: 0;
	margin: 0;
	width: 1140px;
	margin: 0 auto;
}
.announcements ul li{
	float: left;
	height: 100%;
	font-size: 14px;
	line-height: 60px;
}
.announcements ul li a{
	color: #93A4DA;
}
.dynamicData{
	height: 275px;
	width: 100%;
	background: rgb(39,43,65);
}
.canvas_box{
	width:   325px;
	height: 100px; 
	position: absolute;
	top: 71px;
	left: -32px;
}
.dynamicDataBox{
	padding-top: 30px;
	width: 1010px;
	margin: 0 auto;
}
.dynamicDataBox ul{
	padding: 0;
	margin: 0;
}
.dynamicDataBox ul li{
	width:285px;
	height: 195px;
	margin-right:75px;
	background:rgba(14,21,47,1);
	border-radius:12px; 
	float: left;
	position: relative;
	overflow: hidden;
}
.coin_name{
	width:48px;
	height:20px;
	font-size:14px;
	color:rgba(82,94,128,1);
	line-height:20px;
	margin-left: 20px;
	margin-top: 10px;
}
.coin_num{
	width:123px;
	height:37px;
	font-size:26px;
	color:rgba(232,238,254,1);
	line-height:37px;
	margin-left: 20px;
}
.times_coin_num{
	height:20px;
	font-size:14px;
	color:rgba(147,164,218,1);
	line-height:20px;
	margin-left: 20px;
}

.message_intro{
	width: 100%;
	height: 400px;
	background:rgba(29,36,61,1);
}
#carousel-example-generic{
	width: 1140px;
	margin: 0 auto;
	background:rgba(29,36,61,1);
}
.carousel .item{
	background:rgba(29,36,61,1);
}
.photo_box{
	height: 400px;
}
.photo_box div{
	width: 540px;
	height: 100%;
	float: left;
	left: 0;
	bottom: 0;
}
.canvas_box{
	width:   325px;
	height: 100px; 
	position: absolute;
	top: 73px;
	left: -31px;
}
.photo_box div h3{
	width:532px;
	height:55px;
	font-size:38px;
	color:rgba(196,206,236,1);
	line-height:55px;   
	margin-top: 80px;   
}
.photo_box div p{
	width:553px;
	/* height:50px; */
	font-size:18px;
	color:rgba(196,206,236,1);
	line-height:25px;
	margin-top: 90px;   
}
.photo_box img{
	width: 400px!important;
	height: 330px!important;
	float: right;
	margin-top: 40px;
}
/* 新版页面end */

.top-box {
    background: rgba(0, 0, 0,0.08);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-box .nav:hover, .top-box .nav.active-nav {
	background: none;
}
.top-box .ctrl-select a:hover, 
.top-box .ctrl-select a.active-nav, 
.top-box .ctrl-select span:hover, 
.top-box .ctrl-select span.active-nav
{
	background: none;
}
.top-box .ctrl-select .ul-select li{
	border-bottom-color:#151b45;
}
/*顶部导航*/
#menu-nav{
	z-index: 999;
}


/* 轮播广告 */
.carousel .item {
    
    /* background-color: #000; */
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}

.arrow_down{
	z-index: 99;
	cursor: pointer;
}

/* 动态数据 */

.dynamic_data{
	height: 217px;
	background: rgb(39,43,65);
}

.haveimg_p{
	display: inline-block;
}
.icon{
	width: 12px;
	/*padding-bottom: 7px;*/
}

@keyframes myfirst {
	0% {transform:rotateZ(0deg);} 
	100% {transform:rotateZ(360deg);}
}  

@-webkit-keyframes myfirst {
	0% {transform:rotateZ(0deg);} 
	100% {transform:rotateZ(360deg);}
}  

/* 响应式布局 */

@media (max-width: 768px) {

    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item {
        height: 300px;
    }

    .carousel img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }

}

.nav_h{
	padding:0 12%;
}
.navbar-brand>img{
	margin-top: -14px;
}
.nav_header{
	background-color: transparent;
}

.font-rate{
	font-size:12px;
	color:#999;
}
.font-b{
	font-size:14px;
}
.dynamic_data .font-margin{
	height:28px;
	width:100%;
}
.top_span{
	font-size: 16px;
}
.img-san{
	width: 40%;
	height: auto;
	display: block;
	position: absolute;
	top: 132px;
	left: 50%;
	margin-left: -20%;
}