@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?inh7qk');
  src:  url('../../fonts/icomoon.eot?inh7qk#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?inh7qk') format('truetype'),
    url('../../fonts/icomoon.woff?inh7qk') format('woff'),
    url('../../fonts/icomoon.svg?inh7qk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon1.eot?4jlqnn');
  src:  url('../../fonts/icomoon1.eot?4jlqnn#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon1.ttf?4jlqnn') format('truetype'),
  url('../../fonts/icomoon1.woff?4jlqnn') format('woff'),
  url('../../fonts/icomoon1.svg?4jlqnn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon2.eot?mzo8jh');
  src:  url('../../fonts/icomoon2.eot?mzo8jh#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon2.ttf?mzo8jh') format('truetype'),
  url('../../fonts/icomoon2.woff?mzo8jh') format('woff'),
  url('../../fonts/icomoon2.svg?mzo8jh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon5.eot?1gyqsd');
  src:  url('../../fonts/icomoon5.eot?1gyqsd#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon5.ttf?1gyqsd') format('truetype'),
    url('../../fonts/icomoon5.woff?1gyqsd') format('woff'),
    url('../../fonts/icomoon5.svg?1gyqsd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon6.eot?ze82fv');
  src:  url('../../fonts/icomoon6.eot?ze82fv#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon6.ttf?ze82fv') format('truetype'),
    url('../../fonts/icomoon6.woff?ze82fv') format('woff'),
    url('../../fonts/icomoon6.svg?ze82fv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon7.eot?qnupry');
  src:  url('../../fonts/icomoon7.eot?qnupry#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon7.ttf?qnupry') format('truetype'),
    url('../../fonts/icomoon7.woff?qnupry') format('woff'),
    url('../../fonts/icomoon7.svg?qnupry#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sort-down:before {
  content: "\f0dd";
}

.icon-check_circle:before {
  content: "\e86c";
}

.icon-check-circle:before {
  content: "\e906";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-mail-envelope-closed:before {
  content: "\e111";
  color:#13b5b1;
  font-size: 32px;
}
.icon-document-text:before {
  content: "\e901";
}
.icon-chevron-thin-left:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-apple:before {
  content: "\f179";
}
.icon-android:before {
  content: "\f17b";
}
.icon-triangle-down:before {
  content: "\f05b";
}
.icon-triangle-up:before {
  content: "\f0aa";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-sina:before {
  content: "\ea9a";
  font-weight: bold;
}
.icon-qq:before {
  content: "\e999";

  font-weight: bold;
}
.icon-weixin:before {
  content: "\e933";
  font-weight: bold;
}
.icon-mail:before {
  content: "\e922";
  font-weight: bold;
}
.icon-telegram:before {
  content: "\e988";
}

.icon-time:before{
  content:"\e900";
}

.icon-email:before{
  content:"\e955";
}

.icon-angle-double-right:before {
  content: "\e9b1";
}
.icon-angle-double-left:before {
  content: "\e9b2";
}





