body {background: none; min-width:1200px;}
html {background: url(../../images/bg-register.jpg) no-repeat center;
    background-size: cover; min-height: 100%;}
.warp-box {min-height: 578px;}
@-moz-document url-prefix() {
	.page {min-height: 620px;}
	.warp-box {
		position: absolute; 
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
	}
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
	background: #fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.bg-register {
	height: 578px;
	overflow: auto;
}

.page {padding:0px;}

.register .top-box {
    background: rgba(0, 0, 0,0.08);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.register .content-wrap{
    margin: 0 auto;
    width: 478px;
    min-width:350px;
    z-index: 99;
}
.register .bg-white{
    width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 0px 40px;
}
.register .font1{
    font-size:18px;
    color: #13b5b1;
    margin:0 0 25px 0;
}

.register .input-info{
    border: 1px solid #CCCCCC;
    width: 78%;
    margin: 0 auto;
    height: 34px;
    line-height: 32px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0 14px;
    display: block;
}
.register .input-info.no-martop{
    margin-top:0px;
    line-height: 32px;
}
#phone .input-info.no-martop{
    margin-top: 1px;
    border: 0 none;
    width: 83%;
    height: 31px;
}
.register .btn-submit{
    width: 80%;
    margin-left: 10%;
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    border: none;
    background: #ccc;
}
.register #btn-check{
    position:relative;
}
.register #btn-check .icon-checkbox-unchecked{
    position:absolute;display:block;width:14px;height:14px;left:0px;top:50%;margin-top:-7px;
}
#font-agree { cursor: pointer;}
.register #btn-check i {
    float:left;
    color:#666;font-weight:100;
}
.register #btn-check .handmouse{
    color:#13b5b1;
}

.register .font3{
    color: #2A8AE5;
    display: inline-block;
    margin-left: 5px;
}
.register .font4{
    width: 66%;
    margin: 10px 17% 8px 17%;
    font-size: 12px;
    cursor:pointer;
}
.register .font5{
    font-size: 14px;
    color: #ccc;
    margin-top: 24px;
}
.register .icon-checkbox-unchecked{
    color: #ccc;
    margin-right: 6px;
}
.register .font6{
    display: inline-block;
    margin-left:2px;
    color: #13b5b1;
}
.register .icon-checkbox-checked{
    color: #13b5b1;
    margin-right: 6px;
}
.register .input-warning{
    -webkit-box-shadow: 0px 0px 2px #ccc;
    -moz-box-shadow: 0px 0px 2px #ccc;
    -ms-box-shadow: 0px 0px 2px #ccc;
    -o-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0px 0px 2px #ccc;
}
.register .font-warning{
    width: 66%;
    margin: 0 auto;
    margin-bottom: 0px;
    font-size: 12px;
    color: #e70353;
    position: relative;
    margin-bottom: 6px;
    min-height: 18px;
    height: auto;
    position:relative;
    padding-left:13px;
}
.register .font-warning a{
    color: #2A8AE5;
}
.icon-exclamation-circle{
    font-size: 12px;
    margin-right: 2px;
    vertical-align: -1px;
    position:absolute;
    top:4px;
    left:0;
}
.register .btn-able{
    background: #020d2b!important;
    color: #fff!important;
    -webkit-box-shadow: 0px 1px 2px #010207;
    -moz-box-shadow: 0px 1px 2px #010207 ;
    box-shadow: 0px 1px 2px #010207 ;
}
.register .form-inline-input {
    width: 80%;
    margin-left: 10%;
}
.register .code-box {
    position: relative;
}
.register .form-inline-input input,.register  .code-box {
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.register .code-box .code-input {
    display: none;
}
.register .form-inline-input input,.register  .code-box {
    padding: 0 10px;
    width: 100%;
    height: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.register .code-box p {
    width: 0;
    background-color: #FFFF99;
    overflow: hidden;
    text-indent: -20px;
    transition: background 1s ease-in;
}
.register .code-box p,.register  .code-box span {
    display: block;
    position: absolute;
    left: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.register .code-box span {
    width: 30px;
    background-color: #fff;
    font-family: "宋体";
    font-size: 16px;
    cursor: pointer;
}
.register .code-box p,.register  .code-box span {
    display: block;
    position: absolute;
    left: 0;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background: #020d2b;
}

/*
验证码样式结束*/
/*按钮样式开始*/
.register .btn {
    width: 66%;
    margin: 0 auto;
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    background: #ccc;
    position: relative;
    outline: none;
    letter-spacing: .2em;
    cursor: default;
    overflow: hidden;
    user-select: none;
    display: block;
    letter-spacing: 1px;}
.register .ripple {position:absolute;background:rgba(0,0,0,.15);border-radius:100%;transform:scale(0);pointer-events:none;}
.register .ripple.show {animation:ripple .75s ease-out;}
/*按钮样式结束*/

html{
    font-size: 100px;
}
.register .links-node,.register .nav1{
    color: #13b5b1; display: inline;
}
.register .links-node:hover,.register .nav1:hover{
    border-bottom:1px solid #13b5b1;
}
.font-logo{
    width: 140px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 14px;
}
#captcha{
    margin-bottom: 28px;
}
.font-and{
    color: #666;
}
@media screen and (max-height: 770px){
    @-moz-document url-prefix() {
		.warp-box {
			position: relative; 
			top: auto;
			left: auto;
			transform: translate3d(0,0,0);
		}
	}
}



/* 注册切换样式开始 */
 
.register-switch{
    width:68%;
    margin:10px auto 25px;
    padding:0 60px;
}

.bg-white .register-font{
    width:68%;
    text-align: center;
    margin:0 auto;
    font-size: 18px;
    color:#13b5b1;
    padding:0;
}

.register-switch span{
    font-size: 16px;
    color:#999;
    cursor:pointer;
}

.register-switch span:nth-child(2){
    float:right;
}

.register-switch .active{
    color:#333;
}

.register-switch .active .icon{
    background: url(../../images/icon11.png) no-repeat -16px 2px;
}
.register-switch span .icon{
    background: url(../../images/icon11.png) no-repeat 2px 2px;
    padding: 8px 8px;
    margin: 10px 5px 0 0;
    display: inline-block;
    vertical-align: -1px;
    }

.register-hide{
    display: none;
}

.verification-wrap {
  border: 1px solid #e9eaea;
  -webkit-box-shadow: 0px 0px 8px #e9eaea;
  -moz-box-shadow: 0px 0px 8px #e9eaea;
  -ms-box-shadow: 0px 0px 8px #e9eaea;
  -o-box-shadow: 0px 0px 8px #e9eaea;
  box-shadow: 0px 0px 8px #e9eaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  padding-bottom: 55px; }

#phone {
  padding: 0px 20px;
   }

#mobile {
  padding: 0px 0px 0px 40px; }



.font-hint {
  color: #13b5b1;
  font-size: 12px;
  text-align: center;
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
  line-height: 18px;
  padding-bottom: 10px; }

.font1 {
  font-size: 18px;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  height: 66px;
  line-height: 66px;
  padding: 0px 0px 0px 19px;
  margin-bottom: 45px; }

.font-warning {
  width: 280px;
  height: auto;
  line-height: 18px;
  margin: 0 auto;
  font-size: 12px;
  color: #e70353;
  position: relative; }
  .font-warning .icon-exclamation-circle {
    font-size: 12px;
    display: inline-block;
    margin-right: 3px; }

.btn {
  display: block;
  padding: 0px;
  margin: 0 auto;
  width: 280px;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #ccc;
  position: relative;
  outline: none;
  cursor: default;
  overflow: hidden;
  user-select: none;
  margin-top: 15px; }

.code-wrap {
  position: relative;
  margin: 0 auto; }



.btn-gain {
  min-width: 96px;
  position: absolute;
  top: 0;
  right:87px;
  height: 34px;
  line-height: 34px;
  background: none;
  border-left: 1px solid #ccc !important;
  padding: 0 10px;
  color: #13B5B1;
  font-size: 12px;
}


.code-wrap .input-info {
  padding-right: 110px; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;

}
 #phone .input-info.no-martop{
  box-shadow: none;
 }

.eye{
  position: relative;
}

.eye-bg{
  display: inline-block;
  padding:4px 9px;
  background: url(../../images/eye.png) no-repeat -20px;
  position: absolute;
  right: 95px;
  top:14px;
  cursor:pointer;
}

.eye-close{
    background: url(../../images/eye.png) no-repeat;
}
