
.mailbox-activation  .font1 {
    font-size: .22rem;
    padding-bottom: .51rem;
    border-bottom: .9px dashed #ccc;
    width: 80%;
    margin: 0 auto;
}
.mailbox-activation  .font5{
    width: 80%;
    font-size: .17rem;
    margin: .32rem auto .62rem auto;
}
.mailbox-activation  .btn-confirm{
    width: 3.11rem;
    height: .38rem;
    margin: 0 auto;
    line-height: .38rem;
    background: #13b2b1;
    font-size: .2rem;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom: .6rem;
}
.mailbox-activation  .font6{
    font-size: .15rem;
    color: #999;
}
html{
    font-size: 100px;
}
